
<footer>
    <div class="card mt-3">
        <div class="card-footer text-center">
            <label id="footertext" class="card-text me-5">Piero Cuzcano Tequen</label>
            <label id="fecha" class="card-text me-5"></label>
            <label id="hora" class="card-text"></label>
        </div>
    </div>  
</footer>
