 <!--CSS-->
 <link rel="stylesheet" href="/css/div.css">

<div class="row mb-4">
    <div id="imagen" class="col-8">
    </div>
    <div id="titulo" class="col-4">
        <label id="titulomonedas">TRAGAMONEDAS ONLINE BACKEND</label>
    </div>
</div>